!!!

%html
  %head
    %title Newsroom
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  .container
    -if user_signed_in?
      %body.signed_in
        %nav.navbar.navbar-default.navbar-fixed-top
          .container-fluid
            .navbar-header
              =link_to "Newsroom", root_path, class: "navbar-brand"
            %ul.nav.navbar-nav
              -editors_only do
                %li= link_to "Editors' Lounge", editor_root_path
            %ul.nav.navbar-nav.navbar-right
              %li= link_to "Sign out", sign_out_path, method: :delete
        .container
          - flash.each do |key, message|
            .alert.alert-info
              = message
        = yield
    -else
      %body.signed_out
        - flash.each do |key, message|
          .alert.alert-danger
            = message
        = yield
